<!DOCTYPE html>
<html xml:lang="en">
        <head>
            <title>Watcher - main menu</title>
            <link rel="icon" type="image/png" href="/static/fav.png" />
            <link rel="stylesheet" type="text/css" href="/static/main.css" />
            <script type="text/javascript" src="/static/jquery.min.js"></script>
            <script type="text/javascript" src="/static/main.js"></script>
            <script type="text/javascript">
                $( document ).ready(function() {
                    loadDates();
                });
            </script>
        </head>
        <body>
            <div style="max-width: 1000px; margin: 30px auto;">
                <div id="top-panel"></div>
            </div>
        </body>
</html>